<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Admin Panel">
    <test name="Admins">
        <classes>
            <class name="testcases.adminpanel.admins.Admins"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="listeners.CustomListeners"/>
    </listeners>
    <!--

      -->
</suite>